<div class="navigation">
    <nav>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <a href="/add-movie">Add movie</a>
    </nav>
</div>

